<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Authenticate</title>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script>
            function enableBtn(){
                document.getElementById("submit_details").disabled = false;
            }
        </script>
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r17/Stats.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>
        <style> 



.blockbanner {
  background-color: #010a00;
  font-family: helvetica;
  font-size: 1.8rem;
  font-size: calc(1vw + 1vh + 1.5vmin);
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}


input { 
  transition: width 0.4s ease-in-out;
}

input:focus {
  width: 100%;
}  

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

*::-moz-placeholder {
    /* FF 19+ */
    color:black;
    opacity: 22;
}
            
body,
html{
      margin: 0;
      padding: 0;
      height: 100%;
}



/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.g-recaptcha{
    color:#ebb9b2;
    right:0;
    

}

svg {
      display: block;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
}
  
.scrollElement {
      position: absolute;
      height: 6000px;
      width: 100px;
      top: 0;
      z-index: 0;
}

            
            img-fluid{
                object-fit:cover;
            }   

            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
              }
              
              /* Style the buttons that are used to open the tab content */
              .tab button {
                background-color: green;
                border: black;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
              }
              
              /* Change background color of buttons on hover */
              .tab button:hover {
                background-color: green;
              }
              
              /* Create an active/current tablink class */
              .tab button.active {
                background-color: #ccc;
              }
              
              /* Style the tab content */
              .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
              }
    

            /*Bootstrap Calendar*/
            .datepicker {
                border-radius: 0;
                padding: 3;
            }       
            .datepicker-days table thead, .datepicker-days table tbody, .datepicker-days table tfoot {
                 padding: 10px;
                display: list-item;
            }
            .datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
                background: #3546b3;
                color: #ffffff;
                border-radius: 0;
            }
            .datepicker-days table thead tr:nth-child(2n+0) td, .datepicker-days table thead tr:nth-child(2n+0) th {
                border-radius: 3px;
            }
            .datepicker-days table thead tr:nth-child(3n+0) {
                text-transform: uppercase;
                font-weight: 300 !important;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.7);
            }
            .table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
                padding: 11px 13px;
            }
            .datepicker-months table thead td, .datepicker-months table thead th, .datepicker-years table thead td, .datepicker-years table thead th, .datepicker-decades table thead td, .datepicker-decades table thead th, .datepicker-centuries table thead td, .datepicker-centuries table thead th {
                border-radius: 0;
            }
            .datepicker td, .datepicker th {
                border-radius: 50%;
                padding: 0 12px;
                }
            .datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
                background: #3546b3;
                color: #ffffff;
                border-radius: 0;
            }
            .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
                background-image: none;
            }
            .datepicker .prev, .datepicker .next {
                color: rgba(255, 255, 255, 0.5);
                transition: 0.3s;
                width: 37px;
                height: 37px;
            }
            .datepicker .prev:hover, .datepicker .next:hover {
                background: transparent;
                color: rgba(255, 255, 255, 0.99);
                font-size: 21px;
            }
            .datepicker .datepicker-switch {
                font-size: 24px;
                font-weight: 400;
                transition: 0.3s;
            }
            .datepicker .datepicker-switch:hover {
                color: rgba(255, 255, 255, 0.7);
                background: transparent;
            }
            .datepicker table tr td span {
                border-radius: 2px;
                margin: 3%;
                width: 27%;
            }
            .datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
            background-color: #3546b3;
            background-image: none;
            }
            .dropdown-menu {
                border: 1px solid rgba(0,0,0,.1);
                box-shadow: 0 6px 12px rgba(0,0,0,.175);
            }
            .datepicker-dropdown.datepicker-orient-top:before {
                border-top: 7px solid rgba(0,0,0,.1);
            }
        </style>    
    </head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   

    <body>
        

<!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 750 500" preserveAspectRatio="xMidYMax slice">
    <defs>
        <!-- Scene 1 Gradient -->
        <linearGradient id="grad1" x1="-154.32" y1="263.27" x2="-154.32" y2="374.3"
            gradientTransform="matrix(-1, 0, 0, 1.36, 231.36, -100.14)" gradientUnits="userSpaceOnUse">
            <stop offset="0.07" stop-color="#9c536b" />
            <stop offset="0.98" stop-color="#d98981" />
        </linearGradient>
        <radialGradient id="bg_grad" cx="375" cy="-35" r="318.69" gradientUnits="userSpaceOnUse">
            <stop offset="0.1" stop-color="#F5C54E" id="sun" />
            <stop offset="0.1" stop-color="#FFDBA6" />
            <stop offset="0.0" stop-color="#F7BB93" />
            <stop offset="0.0" stop-color="#F2995E" />
            <stop offset="0.0" stop-color="#f07560" />
            <stop offset="0.8" stop-color="#FFAB93" />
        </radialGradient>
        <linearGradient id="grad2" x1="242.5" y1="356.25" x2="750" y2="356.25" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="" />
            <stop offset="0.98" stop-color="" />
        </linearGradient>
        <linearGradient id="grad3" x1="467.26" y1="500" x2="467.26" y2="225.47" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#ffb8bd" />
            <stop offset="1" stop-color="#914d64" />
        </linearGradient>
        <linearGradient id="grad4" x1="216.56" y1="227.64" x2="191.14" y2="600.82"
            gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#70375a" />
            <stop offset="0.96" stop-color="#8a6e95" />
        </linearGradient>
        <linearGradient id="grad5" x1="1" y1="413.12" x2="340.58" y2="413.12" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#433d6c" />
            <stop offset="1" stop-color="#392e54" />
        </linearGradient>
        <linearGradient id="grad6" x1="454.13" y1="295.96" x2="454.13" y2="498.93"
            gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#2b2850" />
            <stop offset="0.99" stop-color="#563a6a" />
        </linearGradient>
        <linearGradient id="grad7" x1="434.38" y1="391.96" x2="474.27" y2="516.33"
            gradientUnits="userSpaceOnUse">
            <stop offset="0.3" stop-color="#1c1b38" />
            <stop offset="0.38" stop-color="#201e3e" />
            <stop offset="0.9" stop-color="#383263" />
        </linearGradient>
        <linearGradient id="grad8" x1="259.18" y1="335.54" x2="213.65" y2="500.39"
            gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#0e0a1a" />
            <stop offset="0.3" stop-color="#100d1f" />
            <stop offset="0.64" stop-color="#17142c" />
            <stop offset="0.95" stop-color="#201f3f" />
        </linearGradient>
        <linearGradient id="grad9" x1="508.16" y1="321.39" x2="726.97" y2="623.69"
            gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#120e22" />
            <stop offset="1" stop-color="#221d42" />
        </linearGradient>

        <!-- Scene2 Gradient -->
        <linearGradient id="lg4" x1="641.98" y1="274.9" x2="638.02" y2="334.36" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#2c2c50" />
            <stop offset="1" stop-color="#434375" />
        </linearGradient>
        <linearGradient id="lg5" x1="172.37" y1="286.02" x2="171.33" y2="343.08" xlink:href="#lg4" />
        <linearGradient id="lg6" x1="505.71" y1="261.55" x2="504.61" y2="322.08" xlink:href="#lg4" />
        <linearGradient id="lg7" x1="301.32" y1="260.99" x2="295.66" y2="345.9" xlink:href="#lg4" />
        <linearGradient id="lg8" x1="375.59" y1="381.01" x2="373.3" y2="507.08" xlink:href="#lg4" />

        <!-- Scene3 Gradient -->
        <radialGradient id="bg2-grad" cx="35.22" cy="500" r="61.74"
            gradientTransform="translate(75 552.6) rotate(180) scale(1 1.11)" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="hsla(349, 94%, 75%, 1)" />
            <stop offset="0.12" stop-color="hsla(342, 49%, 62%, 1)" />
            <stop offset="0.18" stop-color="hsla(328, 37%, 56%, 1)" />
            <stop offset="0.33" stop-color="hsla(281, 33%, 48%, 1)" />
            <stop offset="0.41" stop-color="hsla(268, 38%, 48%, 1)" />
            <stop offset="0.45" stop-color="hsla(266, 38%, 43%, 1)" />
            <stop offset="0.55" stop-color="hsla(261, 37%, 32%, 1)" />
            <stop offset="0.64" stop-color="hsla(253, 36%, 24%, 1)" />
            <stop offset="0.72" stop-color="hsla(244, 33%, 19%, 1)" />
            <stop offset="0.78" stop-color="hsla(240, 33%, 17%, 1)" />
        </radialGradient>
        <radialGradient id="fstar-grad" cx="1362.39" cy="-53.7" r="39.39"
                    gradientTransform="matrix(0.89, -0.45, -0.45, -0.89, -473.7, 640.57)"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#fff" />
                    <stop offset="0.06" stop-color="#fff" stop-opacity="0.8" />
                    <stop offset="0.12" stop-color="#fff" stop-opacity="0.62" />
                    <stop offset="0.19" stop-color="#fff" stop-opacity="0.45" />
                    <stop offset="0.26" stop-color="#fff" stop-opacity="0.31" />
                    <stop offset="0.33" stop-color="#fff" stop-opacity="0.2" />
                    <stop offset="0.41" stop-color="#fff" stop-opacity="0.11" />
                    <stop offset="0.49" stop-color="#fff" stop-opacity="0.05" />
                    <stop offset="0.59" stop-color="#fff" stop-opacity="0.01" />
                    <stop offset="0.72" stop-color="#fff" stop-opacity="0" />
        </radialGradient>
        <linearGradient id="linear-gradient" x1="472" y1="461.56" x2="872.58" y2="461.56"
            gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#fd75a8" />
            <stop offset="1" stop-color="#5a2d81" />
        </linearGradient>
        <linearGradient id="linear-gradient-2" x1="214.61" y1="508.49" x2="166.09" y2="361.12"
            xlink:href="#linear-gradient" />
        <linearGradient id="linear-gradient-3" x1="57.65" y1="508.01" x2="448.08" y2="508.01"
            xlink:href="#linear-gradient" />
        <linearGradient id="linear-gradient-4" x1="193.48" y1="508.3" x2="761.05" y2="508.3"
            xlink:href="#linear-gradient" />
    </defs>

    <rect id="bg" width="750" height="500" opacity="0.8" fill="url(#bg_grad)" />

    


    <!-- SCENE 2 -->
    <!-- <g id="scene2">


    

        
    </g> -->


    <!-- Scene 3 -->
    <!-- <g id="scene3" style="visibility: hidden;">

        <rect id="bg2" y="-59.8" width="750" height="612.4" transform="translate(750 492.8) rotate(180)"
            fill="url(#bg2-grad)" /> -->
      
        

        
        
            
    </g>

    
    <!-- SCENE 1 -->
    
             
            
           
            <!-- <path id="h1-1"
                d="M761.44,506.06c-5.65-.19,10.92-182.57-7.17-162-1.31-2.92,9.88-6.67.34-5.87-4.24-.44,1-4-1.72-4.8-2.49-.42,1.86-4.33-2.2-3.39-8.74-1.35,7.4-5.58.13-5.93-1.16.14-2.66-.83-2.15-1.87,5.62-4.46-4.52-.31-1.81-4,4.06-1.59,1.25-2.59-1.55-2.52-.43-.22.51-6.83-2.86-4,1.48,7.41-6.36,2.56-2.25,6.56,5.14,3-5-.25-.08,5.06-7.81-.36,1.8,3.26-1.33,5.34-5.19-.58.77,2.46-.29,4.05-14.58-3.05,4.72,6.31-5.53,5.46-1.7,1.79,5.19,2.86,1.22,4.65-9-2.33-7.62,1.55-.87,4.1-.85,3.28-7.17.63-6.46,4.61a2.16,2.16,0,0,0-2.05-1.46c-3.92-1.42,2.25-2,.32-3.26-1-.12-2.49.65-3.16-.31,5-3.59-6.35-.29.94-4.3-5.75-.3,2.74-2.66-2.88-2.37-2.72-1.19,4.24-1.88-.35-2.61-2.92-1,2.21-1.74.2-2.42-.61.15-1.88-.09-1.43-.93,3.25-.82-.26-.81-.35-2,2.08-.6.08-.94-.13-1.76,2,1.08-.21-4.83-1.07-3.41-2.69,3-.16,4.58-3.16,5.23,2.16,2.44-.56,1.32-.55,2.9,1.66,1.77.5,1.65-1.13,1.66,2.07,3.55.2,2.46-1.63,3.67,3,2.68,2.38,3.16-1.1,4.15,6.38,6.85-5.28,1.52-.27,6a54.76,54.76,0,0,1-5.21,3c-5.88-1.82,5.87-3.27-2.9-4.93,5-6.49-2.77-.61.52-6.62-1.63,0-2.78.1-1.13-1.67,0-1.57-2.69-.47-.54-2.89-2.57-.64-2.07-.48-.87-2.55-1.67-.06-1.61-1.51-2.3-2.68-1.75-1.1-2.47,5.84-1.2,5.16-3.88,2.37,2.78,2.17-2.14,2.95-.76,1.13,3.25,1.24.57,2.36-4.6.73,2.37,1.42-.35,2.62-5-.63,2.12,2.54-2.68,2.17-6-1.33,1.92-3-3.55-4.14,3.51-4.39-1.9-.75.38-4.83-1.19,0-2,.08-.82-1.21,0-1.15-2-.36-.4-2.12-1.93-.73-.68-1.93-2.31-3.82-.68-.92-2.23,3.19-.78,2.49-.17.62-1.6.83-.1,1.28-.07.86-2.61.83-.25,1.44.33.61-.6.79-1,.67-1.46.51,2.29,1.06.15,1.77-3.35.54,1.73,1-.25,1.91-3.5-.29,1.48,1.61-2.1,1.73,4.39,3.22-9.59.52,0-5.62-3.38-2.44-6.84.32-3-6.7-3,0-5.09.19-2.06-3,.24-3.13-5.17-.19-1-5.29-6.9-1.54.83-1-5.78-9.55-3.11-2.4-1.33,3.69-3.06,4.34-2.07.52-.4,2.41,1.11,1.88-.41,1.55-4,2.06-.24,3.21-.17,2.13-6.55,2.07-.63,3.59.81,1.53-1.5,2-2.62,1.68-3.67,1.25,5.71,2.65.37,4.43-8.39,1.33,4.33,2.58-.63,4.77-10.29-.54,5.25,3.78-5.27,4.33.17,2.09,4.61,1,4.49,3.25-1.86,2.78-9.73-.67-2.77,4.6-.93,2.4-7.89-1.42-6.27,2.23,3,1,4.86,3,1.14,4.22-7.71,1.52-5.08,12.81-10,18.06-5.1.06-1.56-2.95.16-4.78-2.44-1.6-4.9-.21-2.17-4.88-2.17,0-3.7.14-1.5-2.21,0-2.09-3.58-.63-.72-3.85-3.42-.85-2.75-.63-1.15-3.39-2.23-.08-2.15-2-3.06-3.56-2.27-1.75-1,2.68-2.23,3.16-1.51.38-.29,1.76.81,1.36-.3,1.13-2.92,1.51-.18,2.34-.12,1.55-4.77,1.51-.45,2.62.59,1.12-1.1,1.43-1.92,1.22-2.66.91,4.16,1.93.28,3.22-6.11,1,3.15,1.89-.46,3.48-7.48-.39,3.8,2.75-3.84,3.15,7.29,4.68.73,1.27-.63,4.23,4.63,2.76-1.08,1.54-2.84,2.22,7.79-7.19-4.17-1,.78-8.7-2.34,0-4,.15-1.62-2.39.19-2.45-4-.15-.78-4.14-7-1.38,1.23-2.62-2-3.9-1.94.3-2.84-7.35-4.22-2.47.76,1.91-3.55,3.76.17,3.75-.31,1.22-3.14,1.62-.18,2.52-.14,1.67-5.14,1.62-.5,2.82.64,1.2-1.18,1.54-2,1.32-2.88,1,4.48,2.07.29,3.47-6.58,1.05,3.4,2-.5,3.74-8-.42,4.11,3-4.13,3.4,10.59,6.3-6,.57,1.35,6.15-1,1.38-3.16.27-4.52.45-.43,4.06,7.08,2.38-3.37,6.12-5.71.48,4.63-4.45-1.52-3.51-1.79-.23-.1-1-1.27-3.68-.94-2.47-5.06-.15.31-3.89-2.34-.85-2.73-.16-1.62-2.67-.67-.09-2.75.44-1.75-.92,2.27-.89.7-1.45-.86-1.41-.24-.12.29-3.81-1.6-2.22.94,3.52-3.33,1.82-1.26,3.67,2.87,1.65-2.79-.14,0,2.82-4.35-.19,1,1.83-.75,3-2.89-.32.44,1.37-.16,2.26-7.36-1.67,2.25,3.67-3.09,3.05-1,1,2.9,1.6.69,2.6-4.72-1.34-4.13,1-.49,2.29-.37,1.72-5.23.65-3.18,3-2.82,1-8,1.39-4.29-2.77-4.08-.65-3.25-8.88-5.66-.42-1.62.4-.31,1.87.86,1.45-.32,1.21-3.13,1.61-.19,2.5-.13,1.67-5.1,1.62-.49,2.8.64,1.2-1.17,1.53-2,1.31-2.86,1,4.45,2.07.29,3.45-6.53,1,3.38,2-.49,3.72-8-.42,4.07,2.94-4.1,3.37,10.51,6.26-5.95.57,1.33,6.12-.94,1.36-3.14.26-4.49.44-2.75,1.84,6,2.62.45,4.63-1.57-.22-3.88,1.83-2,3.35-1.09,1.23-5.42,2.3-1.85.15-3.17-1.23-1.57-.8-.8-2.52-4.17-.05,1.54-1.41-1.15-1.88-2-.81,1.57-.63-.8-2.15,2.22,0-.35-1.1.1-2.25-.83-2.92-1.36,1.66-2.52,1.48-1.87.82,3.06,1.7-1.21,2.34,1.85,2.09-.48,1.12-.47,2.48,1.42,1.51.43,1.41-1,1.42,1.66,2.64.09,2.26-1.4,3.15,2.57,2.29,2,2.7-.94,3.56,6.39,5.32-13.47,7.73-3.13-.78-2.84-1.86-5.71-.24-2.53-5.68-2.53,0-4.3.16-1.74-2.58.2-2.64-4.38-.16-.85-4.48-5.53-1,.39-1.54-4.9-8.09-2.63-2-1.13,3.12-2.59,3.68-1.75.44-.34,2,.94,1.59-.34,1.31-3.4,1.75-.2,2.72-.15,1.8-5.56,1.75-.54,3,.69,1.3-1.27,1.67-2.22,1.43-3.11,1.06,4.84,2.24.32,3.75-7.11,1.13,3.67,2.19-.54,4.05-8.7-.46,4.44,3.19-4.46,3.66.14,1.77,3.9.84,3.8,2.76-11.08,2.45,4.62,4.82-7.23,4.38-3,2,6.48,3,.54,5-19.56,16.4-40,40.41-67.65,39.92C204.4,521.41,763.06,501.47,761.44,506.06ZM690.05,348.19c1.82-1.17,4.91,2.33.87,1.59C690.36,349.44,689.15,348.86,690.05,348.19Zm-11.51-.42c1.22-.95.69.18-.18.42C677.93,348.27,678.29,348,678.54,347.77Zm-54.73,30.29a4.74,4.74,0,0,0,1.56.73C624.69,378.93,623.4,378,623.81,378.06Z"
                fill="url(#grad9)" />
        </g>
    </g>
</svg> -->

<div class="scrollElement"></div>
  


        
        
        <%if(currentUser){%>
        
            <%=currentUser.username%>
            <a href="/logout">Log Out</a>
            
        <%}%>
          
        <div class="container" style="min-width:100%; min-height:100%; top:0; left:0; background-size:cover; background-position:center; background-repeat: no-repeat; background-image: url('https://i.pinimg.com/originals/c4/6d/9d/c46d9d80c21e3d9a34fdff59434ddf82.jpg')">
            <h1 class="neon" style="font-weight: 400; text-align: center; padding-top: 5%; text-transform: uppercase; position: absolute; top: 60%; left: 52%; transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 2;">Blockchain is the Future</h1>
        </div>
        <div class="card container" style="width:557px; margin-top:100px; background-color:transparent;">

            <div class="p-3 mb-2 bg-dark text-white center" style="margin-bottom:0px;">Register</div>
            <div class="tab">
                <button class="tablinks" onclick="$('#register_government_official').hide(); $('#register').show(); $('#login').hide()"> &nbsp; &nbsp; &nbsp; &nbsp; Register as Bidder &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</button>
                <button class="tablinks" style="background-color:#345eeb" onclick="$('#register').hide(); $('#register_government_official').show(); $('#login').hide()"> &nbsp; &nbsp; Register as Government Officer</button>
                
              </div>
            
            <form id="register" class="tabcontent" action="/signupbidder" method="POST" style="display: none">
                <div style="color: red; size: 10px;"> Personal Details<br></br></div>
                

                    
                <label>Email</label>
                <input class="form-control" name="username" style="margin-bottom:20px; background-color:transparent" placeholder="abc@example.com">

                <label>Contact Number</label>
                <input class="form-control" name="contactnumber" type="tel" style="margin-bottom:20px; background-color:transparent" placeholder="Enter Mobile Number">
                
                <script>
                    // https://github.com/uxsolutions/bootstrap-datepicker
                    $('.dateselect').datepicker({
                    format: 'mm/dd/yyyy',
                    // startDate: '-3d'
                    });
                    // $('.dateselect2').datepicker({
                    //     format: 'mm/dd/yyyy',
                    //     autoclose:true,
                    //     todayHighlidht: true,
                    // }).on("hide", function(){
                    //   if ($)
                    // }
               </script>

                <label class="mr-sm-2">Date of Birth <br></br>
                <input class="form-control" style="margin-bottom:20px; margin-left:20px; background-color:transparent" placeholder="DD MM YYYY" data-provide="datepicker" required="required"/>
                </label> <br></br>

                <label class="mr-sm-2" for ="region">Choose Region</label>
                    <select class="custom-select mr-sm-2" style="margin-bottom:20px; background-color:transparent" name="region" id="region">
                        <option value="North India">North India</option>
                        <option value="South India">South India</option>
                        <option value="West India">West India</option>
                        <option value="East India">East India</option>
                    </select>


                <label>Password</label>
                <input class="form-control" name="password" type="password" style="margin-bottom:20px; background-color:transparent" placeholder="Keep Strong Passwords">

                <label>Confirm Password</label>
                <input class="form-control" type="password" style="margin-bottom:20px; background-color:transparent" placeholder="Retype your password"> <br></br>
                <script>console.log("testing captcha");</script>

                <div style="color: blue; size: 10px;"> Company Details<br></br></div>

                <label>Company Name / License Holder Name</label>
                <input class="form-control" name="companyname" type="text" style="margin-bottom:20px; background-color:transparent" placeholder="Enter your company name">

                <label> Registeration Number</label>
                <input class="form-control" name="registerationnumber" type="text" style="margin-bottom:20px; background-color:transparent" placeholder="Enter your registeration number">
                
                <label class="mr-sm-2" for ="biddertype">Enter type of bidder</label>
                    <select class="custom-select mr-sm-2" style="margin-bottom:20px; background-color:transparent" name="biddertype" id="biddertype">
                        <option value="Indian">Indian</option>
                        <option value="Foreigner">Foreigner</option>
                    </select>

                <label>Pan Number</label>
                <input class="form-control" name="pannumber" type="text" style="margin-bottom:20px; background-color:transparent" placeholder="Enter your pan number"> <br></br> 


                <div class="g-recaptcha" style="display:flex; justify-content:center; margin-left: 16em; padding: 0 17em 2em 0" data-type="image" data-sitekey="6LejFMIkAAAAAOEOyVHbB9FCTot_a7NbqUNsdawL" data-callback="enableBtn"></div>

                <script>console.log("testing captcha");</script>
               

                <center>
                    <input id="submit_details" style="margin-bottom:5px;" type="submit" class="btn btn-success" value="Register" disabled><br>
                    <font color="blue" size=1 style="cursor:pointer" onclick="$('#register').hide(); $('#login').show();">Already a member? Sign In</font>
                </center>

            </form>

            <form id="register_government_official" class="tabcontent" action="/signupgovernmentofficial" method="POST" style="display: none">

                <label>Email</label>
                <input class="form-control" name="username" style="margin-bottom:20px; background-color:transparent" placeholder="abc@example.com">

                <label>Contact Number</label>
                <input class="form-control" name="contactnumber" type="tel" style="margin-bottom:20px; background-color:transparent" placeholder="Enter Mobile Number">

                <label class="mr-sm-2" for ="region">Choose Region</label>
                    <select class="custom-select mr-sm-2" style="margin-bottom:20px; background-color:transparent" name="region" id="region">
                        <option value="North India">North India</option>
                        <option value="South India">South India</option>
                        <option value="West India">West India</option>
                        <option value="East India">East India</option>
                    </select>

                <label>Government ID Number</label>
                <input class="form-control" name="governmentidnumber"  type="text" style="margin-bottom:20px; background-color:transparent" placeholder="Enter your Gov ID Number">

                <label>Password</label>
                <input class="form-control" name="password" type="password" style="margin-bottom:20px; background-color:transparent" placeholder="Keep Strong Passwords">

                <label>Confirm Password</label>
                <input class="form-control" type="password" style="margin-bottom:20px; background-color:transparent" placeholder="Retype your password"> <br> </br>
                <script>console.log("testing captcha");</script>

                <script>
                    function enableLoginBtnGovernmentOfficial(){
                        document.getElementById("submit_details_governmentofficiallogin").disabled = false;
                    }
                </script>
                <div class="g-recaptcha" style="display:flex; justify-content:center; margin-left: 16em; padding: 0 17em 2em 0" data-type="image" data-sitekey="6LejFMIkAAAAAOEOyVHbB9FCTot_a7NbqUNsdawL" data-callback="enableLoginBtnGovernmentOfficial"></div>

                <script>console.log("testing captcha");</script>
               

                <center>
                    <input id="submit_details_governmentofficiallogin" style="margin-bottom:5px;" type="submit" class="btn btn-success" value="Register" disabled><br>
                    <font color="blue" size=1 style="cursor:pointer" onclick="$('#register_government_official').hide(); $('#login').show();">Already a member? Sign In</font>
                </center>

            </form>

            <form id="login" action="/signin" method="POST">
            <div class="p-3 mb-2 bg-dark text-white">Login</div>

                <label>Email</label>
                <input class="form-control" name="username" style="margin-bottom:20px; background-color:transparent" placeholder="abc@example.com">

                <label>Password</label>
                <input class="form-control" name="password" type="password" style="margin-bottom:20px; background-color:transparent" placeholder="Enter Password"> <br></br>
                <script>
                    function enableLoginBtn(){
                        document.getElementById("submit_details_login").disabled = false;
                    }
                </script>
                <div class="g-recaptcha" style="display:flex; justify-content:center; margin-left: 17em; padding: 0 17em 2em 0" data-type="image" data-sitekey="6LejFMIkAAAAAOEOyVHbB9FCTot_a7NbqUNsdawL" data-callback="enableLoginBtn"></div>
                <br></br>

                <center>
                    <input id="submit_details_login" style="margin-bottom:5px;"  type="submit" class="btn btn-success" value="Log In" disabled><br>
                    <font color="blue" size=1 style="cursor:pointer" onclick="$('#login').hide(); $('#register').show();">Not a member yet? Register here</font>
                </center>

            </form>

        </div>
        

    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
    <script type="text/javascript" language="javascript" src="index.js"></script>
    <script type="text/javascript" language="javascript" src="loadEthereum.js"></script>
    <script type="text/javascript" language="javascript" src="confirmType.js"></script>
    <script type="text/javascript" language="javascript" src="truffle-contract.js"></script>
    <script type="text/javascript" langauge="javascript" src="test.js"></script>
    <script src="/contract.js"></script>

</html>